aside {
  width: 300px;
  float: right;
  padding: 10px;

  h3 {
    margin-top: 20px;
    font-size: 20px !important;
  }

  ul {
    list-style-type: none;

    li {
      display: block;

      a {
        text-decoration: none;
      }
      a:hover {
        color: red;
        text-decoration: underline;
        transition: var(--transition-linear);
        -webkit-transition: var(--transition-linear);
        -moz-transition: var(--transition-linear);
        -ms-transition: var(--transition-linear);
        -o-transition: var(--transition-linear);
      }
    }
  }
}
