[class*="col-"] {
  float: left;
}

// * using for-loop
@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100% / 12 * $i;
  }
}

// * using each
// @each $color in red, green, blue {
//   .#{$color}-text {
//     color: $color;
//   }
// }

$colors: (
  color1: red,
  color2: green,
  color3: blue,
);
@each $key, $color in $colors {
  .#{$color}-text {
    color: $color;
  }
}

// // * using while-loop
// $i: 1;
// @while $i < 13 {
//   .col-#{$i} {
//     width: 100% / 12 * $i;
//   }
//   $i: $i + 1;
// }

/* .col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
} */

.row::after {
  content: "";
  clear: both;
  display: block;
}

.col-4 {
  p {
    text-align: justify;
    margin-right: 10px;

    span {
      color: var(--clr-red-dark);
    }
    span:hover {
      font-weight: bold;
      cursor: pointer;
      transition: var(--transition-ease);
      -webkit-transition: var(--transition-ease);
      -moz-transition: var(--transition-ease);
      -ms-transition: var(--transition-ease);
      -o-transition: var(--transition-ease);
    }
  }
}
